<%- include('../partials/header') %>

<form action="/workouts" method="POST" autocomplete="off">
    <input class="form-control" id=":focus" type="text" name="name">
    <button type="submit">Add a workout</button>
</form>

<%- include('../partials/footer') %>