<%- include('./partials/header') %>

<div class="container" id="homepage">
    <h1 class="text-center">Gainz Tracker💪</h1>
    <h5 class="text-center small">Track your Gainz in style!</h5>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Instructions
    </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="instructions" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="instructions">Instructions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            To use the Gainz Tracker, first click the "Login" button at the top of the page to access your account. You can login using your Google Account. Then, head over to the My Workouts tab. Click the "Add a Workout" button to create a workout.<br>
            <br>
            On the "Add a Workout" page, enter the name and date of the workout. Click the "Add a Workout" button to create this workout and add it to your account.<br>
            <br>
            Locate the newly created workout in your list of "My Workouts". Click on the name of the workout to be taken to the Workout Detail page.<br>
            <br>
            Enter information in each field in the "Add Exercise" section, then click the "Add Exercise" button to add the exercise to the Exercise Log below.<br>
            <br>
            Scroll down the page to the "Add Note" section if you want to add a note to the workout. Enter text in the field, and then click "Add Note".<br>
            <br>
            If you want to delete a workout, exercise, or note you have created, simply click the red "X" next to it, and it will be removed from your account.<br>
            <br>
            If you want to change the name or date of the workout, click the "Edit Workout" button.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column justify-content-center w-100 h-100">

	<div class="d-flex flex-column justify-content-center align-items-center">


		</a>
	</div>
</div>
</div>

<%- include('./partials/footer') %>