/* .workout-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
} */

.workout-item {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.workout-item button {
    margin-left: 10px;
    margin-right: 20px;
    size: 5px;
}

body {
    /* background-image: url("https://i.imgur.com/UDSSfjE.png");
    
    background-size: contain; */

    /* background-image: url("https://i.imgur.com/xt86BJO.png");
    
    background-size: 50%; */
    background-color: rgb(213, 225, 248);
    font-family: monospace;
}

#add-exercise-form {
    max-width: 100%;
    text-align: center;
    margin-top: 30px;

}

#addExercise {
    /* margin-left: 3vmin;
    margin-bottom: .7vmin; */
    margin: 2vmin;
}

#addWorkout {
    /* margin-top: 2vmin; */
}

#editWorkout {
    margin-bottom: 2vmin;

}

/* #updateWorkout {
    margin-top: 3vmin;
} */

/* body  {
    background-color: cornflowerblue;
} */

/* main, table {
    background-color: magenta;
} */

#homepage {
    margin-top: 12%;
    text-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.085),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.125),
    100px 100px 80px rgba(0, 0, 0, 0.21);
    color:rgb(33, 33, 33)
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar-btn:hover {
    background-color: #3b9df8; /* Add the desired hover background color */
    color: #333; /* Add the desired hover text color */
}

#myworkouts {
    font-size: 20px;
}

h1 {
    font-size: 50px;
    font-weight: ;
}

/* @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  * {
    animation: fadeIn .3s ease-in-out;
  } */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-element {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-element2 {
    animation: fadeIn 2s ease-in-out;
  }

  @keyframes fadeIn3 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-element3 {
    animation: fadeIn .5s ease-in-out;
  }

  @keyframes fadeIn4 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-element4 {
    animation: fadeIn 3s ease-in-out;
  }



