/* .workout-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
} */

.workout-item {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.workout-item button {
    margin-left: 10px;
    margin-right: 20px;
    size: 5px;
}

body {
    /* background-image: url("https://i.imgur.com/UDSSfjE.png");
    
    background-size: contain; */

    /* background-image: url("https://i.imgur.com/xt86BJO.png");
    
    background-size: 50%; */
    background-color: rgb(213, 225, 248);
    font-family: monospace;
}

#add-exercise-form {
    max-width: 100%;
    text-align: center;
    margin-top: 30px;

}

#addExercise {
    /* margin-left: 3vmin;
    margin-bottom: .7vmin; */
    margin: 2vmin;
}

#addWorkout {
    /* margin-top: 2vmin; */
}

#editWorkout {
    margin-bottom: 2vmin;
}

/* #updateWorkout {
    margin-top: 3vmin;
} */

/* body  {
    background-color: cornflowerblue;
} */

/* main, table {
    background-color: magenta;
} */

